services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3002:3002"
    environment:
      PORT: 3002
      NODE_ENV: production
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      HOSTNAME: "0.0.0.0"
      NODE_ENV: production
    restart: always
